
body {
  --primary: #2a4f03;
  --secondary: #dfd88d;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: var(--primary);
  background: white;
  display: flex;
  flex-flow: row wrap;
  margin: 2px auto;
  padding: 0px;
}

#appHeader {
  flex: 1 100%;
  padding: 2px;
  margin: 1px;
  text-align: center;
  color: white;
  background-color: var(--primary);
}

#appNav {
  flex: 1 100%;
  padding: 2px 7px;
  margin: 1px;
  text-align: center;
  border-bottom: 1px solid var(--secondary);
  border-right: 0px;
}

#appMain {
  flex: 1 100%;
  padding: 2px;
  margin: 1px;
  padding: 0px 10px;
  text-align: left;
}

#appFooter {
  flex: 1 100%;
  padding: 2px;
  margin: 1px;
  font-size: small;
  padding: 3px 0;
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

#appHeader h1 {
  margin: 8px;
}

a {
  color: var(--primary);
}

#appHeader a {
  color: white;
}
